body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
	overflow: hidden;
}

h1
{
  padding:0 0 0 15vh;
  width:100%;
  font-size:40px;
}

@media print {
    body {
        visibility: hidden; /* Hide everything in the body */
    }

    #code-overlay {
        visibility: visible; /* Ensure the access code overlay is visible */
    }
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

 .container { 
                height: 200px;
                position: relative;
 }

.header {
	position: fixed;
	display: flex;
	align-items:center;
	width:100%;
	top:1vh;
}

.header div {
	flex:1
}

.center {
	position:fixed;
	display:flex;
	justify-content:center;
	width:100%;
	top:20vh;
}

.button {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-color: #fff;
}

.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    min-width: 120px;
    padding: 0 25px;
  }
}